{% extends "base.html" %} {% block title %}Index{% endblock %} {%block content%}
{% endblock %}

<!-- <!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../static/styles.css">
    <script src="../static/index.js"></script>
    <title>Login Page</title>
</head>
<body>
      {% if request.user.is_authenticated %}
      <div id="topnav" class="topnav">
        <a href="/news">AKTUALNOŚCI</a>
        <a href="/offer">OFERTA</a>
        <a href="/unit">JEDNOSTKI</a>
        <a href="/registration">REKRUTACJA</a>
        <div class="dropdown">
            <button class="dropbtn">MOJE KONTO
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
                <a href= "/data">SZCZEGÓŁY</a>
                <a href= "/notifications">POWIADOMIENIA</a>
                <a href= "/logout">WYLOGUJ SIĘ</a>
              </div>
          </div>
      </div>
      <p>{{ request.user.username }}</p>
      <a href="{% url 'logout' %}">Logout</a>
    {% else %}
      <h3>Zaloguj aby zobaczyć zawartosć tej strony</h3>
      <a href="{% url 'login' %}">Login</a><br>
      <a href="{% url 'signup' %}">Signup</a>
    {% endif %}
     </div><br>
</body>
</html> -->
