<!DOCTYPE html>
<html lang="pl">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" type="text/css" href="../static/styles.css" />
    <title>Signup Page</title>
  </head>
  <body
    style="background-image: url('../static/img/Politechnika-Wrocławska.jpg')"
  >
    <div class="container">
      <div class="content">
        <form method="POST" class="login-form">
          {% csrf_token %}
          <p>
            <label for="id_username">Nazwa użytkownika:</label>
            <input
              type="text"
              name="username"
              maxlength="150"
              autocapitalize="none"
              autocomplete="username"
              autofocus=""
              required=""
              id="id_username"
            />
          </p>

          <p>
            <label for="id_password1">Hasło:</label>
            <input
              type="password"
              name="password1"
              autocomplete="new-password"
              required=""
              id="id_password1"
            />
          </p>

          <p>
            <label for="id_password2">Potwierdź hasło:</label>
            <input
              type="password"
              name="password2"
              autocomplete="new-password"
              required=""
              id="id_password2"
            />
          </p>
          <button class="button" type="submit">Utwórz konto</button><br /><br />
          <a href="/login/">Masz już konto?</a>
        </form>
        <h6>Hasło nie może być zbyt podobne do innych danych osobowych.<br />
          Hasło musi zawierać co najmniej 8 znaków  .<br />
          Hasło nie może być powszechnie używanym hasłem.<br />
          Hasło nie może składać się wyłącznie z cyfr.</h6>
      </div>
    </div>
  </body>
</html>
