<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../static/styles.css">
    <title>Signup Page</title>
</head>
<div class="container"> 
    <div class="content">
      <form method="POST" class="login-form">
        <input type="hidden" name="csrfmiddlewaretoken" value="4n4S8STVvPYQJpFsnocLPSo7jsrBhjTuuUowNayz6292QjQWAKDKqqc40TtWLHbS">
        <p>
    <label for="id_username">Username:</label>
    <input type="text" name="username" maxlength="150" autocapitalize="none" autocomplete="username" autofocus="" required="" id="id_username">
    
    
    
  </p>

  
  <p>
    <label for="id_password1">Password:</label>
    <input type="password" name="password1" autocomplete="new-password" required="" id="id_password1">
    
    
    
  <p></p>

  
  <p>
    <label for="id_password2">Password confirmation:</label>
    <input type="password" name="password2" autocomplete="new-password" required="" id="id_password2">
    
    
    
      
    
  </p>
        <button type="submit">Utwórz konto</button>
        <a href="/login/">Masz już konto?</a>
</form>
      </div><br>